:root {
    --base-font-family: 'Operator Mono', 'Comic Sans MS', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    font-family: var(--base-font-family);
    padding: 10px 20px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#container {
    padding: 10px 0;
}

#container > canvas {
    position: relative;
}

#text-input {
    font-family: var(--base-font-family);
    font-size: 15px;
    text-align: right;
    outline: none;
}

#tooltip {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    padding: 12px 8px;
    border: 1px solid #102E34;
    box-shadow: 0 0 16px -1px #FFFFFF;
    z-index: 1;
}

#tooltip.hidden {
    visibility: hidden;
}

