:root {
    --base-font-family: 'Operator Mono', 'Comic Sans MS', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    font-family: var(--base-font-family);
    padding: 10px 20px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#container {
    padding: 10px 0;
}

#text-input {
    font-family: var(--base-font-family);
    font-size: 15px;
    text-align: right;
}

